@keyframes logo-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* .hero-image {
  position: fixed;
  top: 0;
  left: 220px;
  width: 1050px;
  height: 800px;
  background-image: url("/public/images/jarmLogo.png");
  background-size: cover;
  background-position: center;
  /* z-index: 999; */
/* } */

.logoStatic {
  margin-left: 15px;
  float: left;
  /* animation: logo-anim 2s ease-in-out infinite; SCALING LOGA */
}

.nadpisHlavicky {
  text-align: center;
}

.cara {
  border-radius: 50%;
  border: 3px solid rgb(41, 23, 112);
  opacity: 1;
  margin-left: 260px;
  margin-right: 40px;
}
.fialova {
  color: rgb(41, 23, 112);
}
.fialovaBack {
  color: white;
  background-color: rgb(41, 23, 112);
}
.obsah {
  font-size: 25px;
  font-style: italic;
}
.nadpisH1 {
  margin: 20px;
  text-shadow: 2px 2px gray;
}

.nav {
  /*margin-left: 20px;*/
  justify-content: center;
}
.nav .btn {
  transition: transform 0.5s;
  color: white;
  border-radius: 20px;
  background-color: rgb(41, 23, 112);
  margin: 10px;
  width: 140px;
}
.nav .btn:active {
  color: white;
  background-color: rgb(52, 52, 52);
}
.nav .btn:hover {
  /* transition: transform 0.5s; */
  transform: scale(1.1, 1.1);
}
a.btn.active {
  color: rgb(41, 23, 112);
  border: 2px solid rgb(41, 23, 112);
  background-color: rgb(255, 255, 255);
}
.obrazek {
  margin: 20px;
}
/* UNCONTROLED CAROUSEL */
.slide {
  margin: 10px auto;

  width: 900px;
}
/* Zde je stylizace pro body */
.obsahZalozek {
  color: rgb(0, 0, 0);
  margin: 20px auto;
  text-align: justify;
  width: 900px;
}
